./AthenX.img
./AthenX-3.img
./disk.img
AthenX-3.img
AthenX.bin
AthenX.img
AthenX.iso
AthenX.iso
disk.img
.o
./obj/
./obj
obj/
obj
isodir/boot/AthenX.bin
obj/arch/i686/sys_call.o
obj/
AthenX.bin
isodir/boot/AthenX.bin
AthenX.iso
*.iso
AthenX.*
testD